/* ALWAYS USE MIN (mobile first): media querys for min specific breakpoints */
@custom-media --bp-min-small screen and (width >=600px);
@custom-media --bp-min-medium screen and (width >=768px);
@custom-media --bp-min-large screen and (width >=1024px);
@custom-media --bp-min-xlarge screen and (width >=1440px);
@custom-media --bp-min-wide screen and (width >=1920px);

/* media querys for max specific breakpoints */
@custom-media --bp-max-xsmall screen and (width < 600px);
@custom-media --bp-max-small screen and (width < 768px);
@custom-media --bp-max-medium screen and (width < 1024px);
@custom-media --bp-max-large screen and (width < 1440px);
@custom-media --bp-max-xlarge screen and (width < 1920px);

/* media querys for only specific breakpoints */
@custom-media --bp-only-xsmall screen and (width < 600px);
@custom-media --bp-only-small screen and (600px <=width < 768px);
@custom-media --bp-only-medium screen and (768px <=width < 1024px);
@custom-media --bp-only-large screen and (1024px <=width < 1440px);
@custom-media --bp-only-xlarge screen and (1440px <=width < 1920px);
@custom-media --bp-only-wide screen and (width <=1920px);
